@@ -1,23 +0,0 @@
# Bot Token [Required]
BOT_TOKEN= Your Bot Token

# Mongo Database Connection String [Required]
MONGO_CONNECTION= Your Mongo Connection String

# Webhooks [Optional]
ERROR_LOGS= Weebhook URL for Error Logs
JOIN_LEAVE_LOGS= Weebhook URL for Join/Leave Logs

# Required for image commands (https://strangeapi.fun/docs) { OPTIONAL }
STRANGE_API_KEY=

# SPOTFIY [Required for Spotify Support]
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=