
NAME=Meko
AVATAR=https://images-ext-2.discordapp.net/external/GhsZwwzJEqc2GJyQyGOmMAfMBjKKlA_DinBluz1wLZ4/%3Fsize%3D256/https/cdn.discordapp.com/avatars/1076577779845435462/ad1e1966b67e36f51afe89b4611ef355.png?width=320&height=320
TYPE=bot
MAIN=src/structures/index.js
RAM=100
AUTORESTART=true
VERSION=latest
APT=tools